@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  text-transform: capitalize;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
}

ul li {
  list-style: none;
}

input {
  font-size: inherit;
}

button {
  font-size: inherit;
  cursor: pointer;
}

html,
body {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

@media (max-width: 991px) {
  html,
  body {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html,
  body {
    font-size: 50%;
  }
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #eee;
}

footer {
  padding: 2rem 9%;
}

.sub-heading {
  text-align: center;
  color: #27ae60;
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: #192a56;
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: #192a56;
  border-radius: .5rem;
  cursor: pointer;
  padding: .8rem 3rem;
}

.btn:hover {
  background: #27ae60;
  letter-spacing: 0.1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  /*
        Logo
    */
  /*
        Menu
    */
  /*
        Icons
    */
}

header .header__logo {
  color: #192a56;
  font-size: 2.5rem;
  font-weight: bolder;
}

header .header__logo i {
  color: #27ae60;
}

@media (max-width: 770px) {
  header .header__menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .header__menu.menu-open {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

header .header__menu a {
  font-size: 1.7rem;
  border-radius: .5rem;
  padding: .5rem  1.5rem;
  color: #666;
}

header .header__menu a:active, header .header__menu a:hover {
  color: #fff;
  background: #27ae60;
}

@media (max-width: 770px) {
  header .header__menu a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }
}

header .header__icons {
  /*
            Burger
        */
}

header .header__icons i, header .header__icons a {
  display: inline-block;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: #eee;
  font-size: 1.7rem;
  line-height: 5rem;
  text-align: center;
  color: #192a56;
  cursor: pointer;
  margin-left: 1.5rem;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

header .header__icons i:hover, header .header__icons a:hover {
  color: #fff;
  background: #27ae60;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

header .header__icons #menu-bars {
  display: none;
}

@media (max-width: 770px) {
  header .header__icons #menu-bars {
    display: inline-block;
  }
}

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}

#search-form.active {
  top: 0;
}

#search-form #search-box {
  width: 50rem;
  border-bottom: .1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}

#search-form #search-box::-webkit-input-placeholder {
  color: #eee;
}

#search-form #search-box:-ms-input-placeholder {
  color: #eee;
}

#search-form #search-box::-ms-input-placeholder {
  color: #eee;
}

#search-form #search-box::placeholder {
  color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover {
  color: #27ae60;
}

#search-form #close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}

.home-slider__slaide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.home-slider__slaide .home-slider__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

.home-slider__slaide .home-slider__content span {
  color: #27ae60;
  font-size: 2.5rem;
}

.home-slider__slaide .home-slider__content h3 {
  color: #192a56;
  font-size: 7rem;
}

@media (max-width: 770px) {
  .home-slider__slaide .home-slider__content h3 {
    font-size: 5rem;
  }
}

.home-slider__slaide .home-slider__content p {
  color: #666;
  font-size: 2.2rem;
  padding: .5rem 0;
  line-height: 1.5;
}

.home-slider__slaide .home-slider__imgBx {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

.home-slider__slaide .home-slider__imgBx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-slider .swiper-pagination-bullet {
  background-color: #27ae60;
  width: 10px;
  height: 10px;
}

.dishes .dishes__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}

.dishes .dishes__boxes .dishes__box {
  padding: 2.5rem;
  background: #fff;
  border-radius: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.dishes .dishes__boxes .dishes__box .ic-heart, .dishes .dishes__boxes .dishes__box .ic-eye {
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5.5rem;
  font-size: 2rem;
  color: #192a56;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.dishes .dishes__boxes .dishes__box .ic-heart:hover, .dishes .dishes__boxes .dishes__box .ic-eye:hover {
  color: #fff;
  background: #27ae60;
}

.dishes .dishes__boxes .dishes__box .ic-heart {
  right: -15rem;
}

.dishes .dishes__boxes .dishes__box .ic-eye {
  left: -15rem;
}

.dishes .dishes__boxes .dishes__box .dishes__stars {
  padding: 1rem 0;
}

.dishes .dishes__boxes .dishes__box .dishes__stars i {
  font-size: 1.7rem;
  color: #27ae60;
}

.dishes .dishes__boxes .dishes__box h3 {
  font-size: 2.5rem;
  color: #192a56;
}

.dishes .dishes__boxes .dishes__box img {
  height: 17rem;
  margin: 1rem 0;
}

.dishes .dishes__boxes .dishes__box span {
  color: #27ae60;
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}

.dishes .dishes__boxes .dishes__box:hover .ic-heart {
  right: 1.5rem;
}

.dishes .dishes__boxes .dishes__box:hover .ic-eye {
  left: 1.5rem;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__box .about__box-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

.about__box .about__box-img img {
  width: 100%;
}

.about__box .about__box-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

.about__box .about__box-text h3 {
  font-size: 4rem;
  padding: .5rem 0;
  color: #192a56;
}

.about__box .about__box-text p {
  color: #666;
  font-size: 1.5rem;
  padding: .5rem 0;
  line-height: 2;
}

.about__box .about__box-text .about__box-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: .5rem;
}

.about__box .about__box-text .about__box-icons .about__box-icon {
  background: #eee;
  border-radius: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 17rem;
          flex: 1 1 17rem;
  padding: 1.5rem 1rem;
}

.about__box .about__box-text .about__box-icons .about__box-icon i {
  font-size: 2.5rem;
  color: #27ae60;
}

.about__box .about__box-text .about__box-icons .about__box-icon span {
  font-size: 1.5rem;
  color: #192a56;
}

.menu__box-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu__box-card .menu__card {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.menu__box-card .menu__card .menu__card-img {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.menu__box-card .menu__card .menu__card-img img {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__box-card .menu__card .menu__card-img .ic-heart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5.5rem;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  border-radius: 50%;
  color: #192a56;
}

.menu__box-card .menu__card .menu__card-img .ic-heart:hover {
  background-color: #27ae60;
  color: #fff;
}

.menu__box-card .menu__card .menu__card-content {
  padding: 2rem;
  padding-top: 0;
}

.menu__box-card .menu__card .menu__card-content .menu__card-stars {
  padding-bottom: 1rem;
}

.menu__box-card .menu__card .menu__card-content .menu__card-stars i {
  font-size: 1.7rem;
  color: #27ae60;
}

.menu__box-card .menu__card .menu__card-content h3 {
  font-size: 2.5rem;
  color: #192a56;
}

.menu__box-card .menu__card .menu__card-content p {
  font-size: 1.6rem;
  padding: .5rem 0;
  line-height: 1.5;
  color: #666;
}

.menu__box-card .menu__card .menu__card-content .price {
  font-size: 2.5rem;
  color: #27ae60;
  margin-left: 1rem;
}

.review__sleid {
  padding: 2rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  position: relative;
}

.review__sleid .ic-quote {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 6rem;
  color: #ccc;
}

.review__sleid .review__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.5rem;
}

.review__sleid .review__user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.review__sleid .review__user .review__user-info h3 {
  color: #192a56;
  font-size: 2rem;
  padding-bottom: .5rem;
}

.review__sleid .review__user .review__user-info .review__stars i {
  font-size: 1.3rem;
  color: #27ae60;
}

.review__sleid p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #666;
}

.order__form {
  max-width: 90rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 1.5rem;
  margin: 0 auto;
}

.order__form .form__input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__form .form__input-box .form__input {
  width: 49%;
}

.order__form .form__input-box .form__input span {
  display: block;
  padding: .5rem 0;
  font-size: 1.5rem;
  color: #666;
}

.order__form .form__input-box .form__input input,
.order__form .form__input-box .form__input textarea {
  background: #eee;
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: #192a56;
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

.order__form .form__input-box .form__input input:focus,
.order__form .form__input-box .form__input textarea:focus {
  border: 0.1rem solid #27ae60;
}

.order__form .form__input-box .form__input textarea {
  height: 20rem;
  resize: none;
}

.order__form .btn {
  margin-top: 0;
}

.footer__border {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer__border .footer__box h3 {
  padding: .5rem 0;
  font-size: 2.5rem;
  color: #192a56;
}

.footer__border .footer__box a {
  display: block;
  padding: .5rem 0;
  font-size: 1.5rem;
  color: #666;
}

.footer__border .footer__box a:hover {
  color: #27ae60;
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: #192a56;
  padding: .5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footer .credit span {
  color: #27ae60;
}
