//*                       Подключаем шрифты
// ========================================
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
// ========================================



//*                          Сброс настроек
// ========================================
// @import '_reset';
*,
*::before,
*::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}
h1,h2,h3,h4,h5
{
    font-size: inherit;
}
ul li
{
    list-style: none;
}
input
{
    font-size: inherit;
}
button
{
    font-size: inherit;
    cursor: pointer;
}
// ========================================


//*                              Переменные
// ========================================
//*          - Размеры
$maxW:1260;                 // *Для миксинов
$maxWidth: $maxW + px;
$minWidtch: 320px;

//*           - Шрифты
$font-main: 'Nunito', sans-serif;

//*           - Цвета
$color-green: #27ae60;
$color-black: #192a56;
$color-light: #666;

//*           - Прочее
$box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
// ========================================



//*                                 Миксины
// ========================================
//*           - Адаптивный шрифт
@mixin adaptiv-font($pcSize, $mobSize) 
{
    $addSize: $pcSize - $mobSize;
    $maxW: $maxW - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxW}));
}
// ========================================



//*                                 General
// ========================================
html,
body
{
    font-size: 62.5%; // 10px
    font-family: $font-main;
    scroll-behavior: smooth; // плавный скраолл

    @media (max-width: 991px) 
    {
        font-size: 55%;
    }

    @media (max-width: 770px) 
    {
       
    }

    @media (max-width: 450px) 
    {
        font-size: 50%;
    }
}

section
{
    padding:2rem 9%;

    &:nth-child(even)
    {
        background: #eee;
    }
}
.sub-heading
{
    text-align: center;
    color:$color-green;
    font-size: 2rem;
    padding-top: 1rem;
}

.heading
{
    text-align: center;
    color:$color-black;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn
{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: $color-black;
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    &:hover
    {
        background: $color-green;
        letter-spacing: 0.1rem;
    }
}
// =======================================



//*                        wrapper + border
// ========================================
// .wrapper
// {

// }
// .border
// {
//     max-width: $maxWidth;
//     min-width: $minWidtch;
//     margin: 0 auto;
// }
// ========================================



//*                                  header
// ========================================
header
{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: $box-shadow;

    /*
        Logo
    */
    .header__logo
    {
        color: $color-black;
        font-size: 2.5rem;
        font-weight: bolder;

        i
        {
            color: $color-green;
        }
    }

    /*
        Menu
    */
    .header__menu
    {
        @media (max-width: 770px) 
            {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background: #fff;
                border-top: .1rem solid rgba(0,0,0,.2);
                border-bottom: .1rem solid rgba(0,0,0,.2);
                padding:1rem;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                &.menu-open
                {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                }
            }

        a
        {
            font-size: 1.7rem;
            border-radius: .5rem;
            padding: .5rem  1.5rem;
            color: $color-light;

            &:active,
            &:hover
            {
                color: #fff;
                background: $color-green;
            }

            @media (max-width: 770px) 
            {
                display: block;
                padding:1.5rem;
                margin:1rem;
                font-size: 2rem;
                background:#eee;
            }
        }
    }

    /*
        Icons
    */
    .header__icons
    {
        i,a
        {
            display: inline-block;
            position: relative;
            align-self: center;
            width:4.5rem;
            height:4.5rem;
            border-radius: 50%;
            background: #eee;
            font-size: 1.7rem;
            line-height: 5rem;
            text-align: center;
            color:$color-black;
            cursor: pointer;
            margin-left: 1.5rem;
            transition: all .3s linear;
            &:hover
            {
                color:#fff;
                background: $color-green;
                transform: rotate(360deg);
            }
        }


        /*
            Burger
        */
        #menu-bars
        {
            display: none;
            @media (max-width: 770px) 
            {
                display: inline-block;
            }
        }
    }
}
// ========================================



//*                                  search
// ========================================
#search-form{
    position: fixed;
    top: -110%; 
    left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
    &.active
    {
        top:0;
    }

    #search-box
    {
        width:50rem;
        border-bottom: .1rem solid #fff;
        padding:1rem 0;
        color:#fff;
        font-size: 3rem;
        text-transform: none;
        background:none;
        &::placeholder
        {
            color:#eee;
        }
        &::-webkit-search-cancel-button
        {
            -webkit-appearance: none; // Убирает крестик при вводе текста
        }
    }

    label
    {
        color:#fff;
        cursor:pointer;
        font-size: 3rem;
        &:hover
        {
            color: $color-green;
        }
    }

    #close
    {
        position: absolute;
        top: 2rem; right:3rem;
        font-size: 5rem;
        color:#fff;
        cursor: pointer;
    }
}
// ========================================



//*                             Home-slider
// ========================================
.swiper 
{
    width: 100%;
    height: 100%;
}

.home-slider__slaide 
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;

    .home-slider__content 
    {
        flex: 1 1 45rem;

        span
        {
            color: $color-green;
            font-size: 2.5rem;
        }
    
        h3
        {
            color: $color-black;
            font-size: 7rem;
            @media (max-width: 770px) 
            {
                font-size: 5rem;
            }
        }
    
        p
        {
            color: $color-light;
            font-size: 2.2rem;
            padding: .5rem 0;
            line-height: 1.5;
        }
    }

    .home-slider__imgBx 
    {
        flex: 1 1 45rem;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.home-slider
{
    // .swiper-pagination
    // {
    //     bottom: 0;
    // }
    .swiper-pagination-bullet
    {
        background-color: $color-green;
        width: 10px;
        height: 10px;
    }
}
// ========================================



//*                                  dishes
// ========================================
.dishes 
{
    .dishes__boxes 
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        gap: 1.5rem;

        .dishes__box 
        {
            padding:2.5rem;
            background:#fff;
            border-radius: .5rem;
            border:.1rem solid rgba(0,0,0,.2);
            box-shadow: $box-shadow;
            position: relative;
            overflow: hidden;
            text-align: center;

            .ic-heart, .ic-eye 
            {
                position: absolute;
                top:1.5rem;
                background:#eee;
                border-radius: 50%;
                height: 5rem;
                width:5rem;
                line-height: 5.5rem;
                font-size: 2rem;
                color: $color-black;
                transition: all .2s linear;
                &:hover
                {
                    color: #fff;
                    background: $color-green;
                }
            }

            .ic-heart
            {
                right:-15rem;
            }

            .ic-eye
            {
                left:-15rem;
            }

            .dishes__stars 
            {
                padding:1rem 0;

                i
                {
                    font-size: 1.7rem;
                    color: $color-green;
                }
            }

            h3
            {
                font-size: 2.5rem;
                color: $color-black;
            }

            img
            {
                height:17rem;
                margin:1rem 0;
            }

            span
            {
                color: $color-green;
                font-weight: bolder;
                margin-right: 1rem;
                font-size: 2.5rem;
            }

            &:hover .ic-heart
            {
                right: 1.5rem;
            }

            &:hover .ic-eye
            {
                left: 1.5rem;
            }
        }
    }
}
// ========================================



//*                                  about
// ========================================
.about__box 
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;

    .about__box-img 
    {
        flex: 1 1 45rem;
        img
        {
            width: 100%;
        }
    }

    .about__box-text 
    {
        flex:1 1 45rem;

        h3
        {
            font-size: 4rem;
            padding:.5rem 0;
            color: $color-black;
        }

        p
        {
            color: $color-light;
            font-size: 1.5rem;
            padding:.5rem 0;
            line-height: 2;
        }

        .about__box-icons 
        {
            display: flex;
            gap:1rem;
            flex-wrap: wrap;
            padding:1rem 0;
            margin-top: .5rem;

            .about__box-icon 
            {
                background:#eee;
                border-radius: .5rem;
                border:.1rem solid rgba(0,0,0,.2);
                display: flex;
                align-items: center;
                justify-content: center;
                gap:1rem;
                flex:1 1 17rem;
                padding:1.5rem 1rem;

                i
                {
                    font-size: 2.5rem;
                    color: $color-green;
                }

                span
                {
                    font-size: 1.5rem;
                    color: $color-black;
                }
            }
        }
    }
}
// ========================================



//*                                menu  
// ========================================
.menu__box-card 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;

    .menu__card 
    {
        background: #fff;
        border:.1rem solid rgba(0,0,0,.2);
        border-radius: .5rem;
        box-shadow: $box-shadow; 
    
        .menu__card-img 
        {
            height: 25rem;
            width: 100%;
            padding:1.5rem;
            overflow: hidden;
            position: relative;
    
            img
            {
                height: 100%;
                width: 100%;
                border-radius: .5rem;
                object-fit: cover;
            }

            .ic-heart 
            {
                position: absolute;
                top:2.5rem; right: 2.5rem;
                height: 5rem;
                width: 5rem;
                line-height: 5.5rem;
                text-align: center;
                font-size: 2rem;
                background: #fff;
                border-radius: 50%;
                color: $color-black;

                &:hover
                {
                    background-color: $color-green;
                    color: #fff;
                }
            }
        }

        .menu__card-content 
        {
            padding:2rem;
            padding-top: 0;
            
            .menu__card-stars 
            {
                padding-bottom: 1rem;

                i
                {
                    font-size: 1.7rem;
                    color: $color-green;
                }
            }

            h3
            {
                font-size: 2.5rem;
                color: $color-black;
            }

            p
            {
                font-size: 1.6rem;
                padding: .5rem 0;
                line-height: 1.5;
                color: $color-light;
            }
            
            .price 
            {
                font-size: 2.5rem;
                color: $color-green;
                margin-left: 1rem;
            }
        }
    }
}
// ========================================